# Pre-commit configuration for Gitlab Akeyless Custom Producer
fail_fast: false

ci:
    autofix_commit_msg: "chore(pre-commit): autofix run"
    autoupdate_commit_msg: "chore(pre-commit): autoupdate hooks"

default_install_hook_types:
    - pre-commit
    - commit-msg
    - post-checkout
    - post-merge
    - post-rewrite

default_stages: ["pre-commit"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-merge-conflict
        args: [--assume-in-merge]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.26
    hooks:
      - id: uv-lock

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-dateparser, types-PyMySQL]
        files: \.py$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        verbose: true
        entry: bash -c 'poetry run pytest . --cache-clear'
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: ["pre-commit"]
